.btn-hover {
    position: relative;
}

.btn-white {
    transition: all 0.3s ease;
}

.btn-white:hover {
    color: var(--text-grey) !important;
}

.btn-hover::before {
    background: linear-gradient(0deg, rgba(21, 21, 25, 0.2), rgba(21, 21, 25, 0.2));
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.3s ease;
    border-radius: 40px;
}

.btn-hover:hover::before {
    opacity: 1;
}