@import './reset';
@import './colors.scss';
@import './textCunstucter.scss';

html {
    scroll-behavior: smooth;
}

body {
    max-width: 1440px;
    background: var(--grey);
    margin: 0 auto;
    overflow-x: hidden;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    cursor: none;
    position: relative;
    z-index: 1;
}

* {
    cursor: none !important;
}
.main{
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.cursor {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--orange);
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 9999;
    transition: opacity 0.3s ease;
    will-change: transform;
}

@media (hover: none) and (pointer: coarse) {
    .cursor {
        display: none;
    }
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1360px;
}
.hidden {
    overflow: hidden;
}





.cursor-trail {
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    overflow: visible;
}

.cursor-dot {
    position: absolute;
    border-radius: 50%;
    transform: translate3d(-50%, -50%, 0);
    will-change: transform, opacity;
    background-color: #FD4B03;
}


.cursor-dot.tail {
    width: 30px;
    height: 30px;
    filter: blur(15px);
    opacity: 0.8;
    box-shadow: 0 0 20px #FD4B03, 0 0 40px #FD4B03, 0 0 60px #FD4B03;
    transition: opacity 0.2s;
}