<header class="header">
    <div class="container">
        <div class="header__body">
            <a href="/" class="header__body-logo">
                Стратегия
            </a>
            <a href="#feedback" class="header__body-action">
                <span class="soft-description desk">Написать нам</span>
                <button class="action-write">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M2 10C2 5.58172 5.58172 2 10 2V2C14.4183 2 18 5.58172 18 10V10C18 14.4183 14.4183 18 10 18H4C2.89543 18 2 17.1046 2 16V10Z"
                            stroke="white" stroke-width="2" />
                    </svg>
                </button>
            </a>
            <div class="header-menu-mob mob">
                <nav>
                    <ul>
                        <li>
                            <a href="#agency">Агентство</a>
                        </li>
                        <li>
                            <a href="#case">Кейсы</a>
                        </li>
                        <li>
                            <a href="#services">Услуги</a>
                        </li>
                        <li>
                            <a href="#faq">FAQ</a>
                        </li>
                        <li>
                            <a href="#contact">Контакты</a>
                        </li>
                    </ul>
                </nav>
                <div class="header-menu-action">
                    <div class="item">
                        <p class="soft-title">Офис в Москве</p>
                        <a href="">Москва, Красная Поляна, 25</a>
                    </div>
                    <div class="item">
                        <p class="soft-title">Для связи</p>
                        <div class="wrap">
                            <a href="">hey@strategia.io</a>
                            <a href="">+7 999 99-204-88</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>